.bg-img {
    background-image: url("./resources/hero_bg.png");
    background-repeat: no-repeat;
    background-size: 60% 100%;
    background-position: right;
}

.varela {
    font-family: 'Varela Round', sans-serif;
}