.NavbarItems {
  background-color: rgb(219, 231, 246);
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2em;
}

.navbar-logo {
  color: rgb(140, 25, 248);
  margin-left: 20px;
}

.menuItem {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.menuItem li {
  list-style: none;
}
.menuItem a {
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  color: rgb(140, 25, 248);
}

.btn {
  background-color: rgb(140, 25, 248);
  color: white;
  border-radius: 2px;
  padding: 8px 20px;
}
